.slider {
    position: relative;
    border-radius: 5px;
    background: #444444;
    width: 310px;
    height: 15px;
    margin: 5px;
}

.thumb {
    width: 10px;
    height: 25px;
    border-radius: 3px;
    left: 10px;
    top: -5px;
    position: absolute;
    background: blue;
    cursor: pointer;
}

body {
    background-color: gray;
}